/******************carousel**********************/
#carousel{position:relative; overflow:hidden; max-height:360px;}
	#carousel .es-carousel{width:100%; overflow:hidden;}
		#carousel li{float:left; position:relative;}
#carousel .es-nav-prev, #carousel .es-nav-next{
	display:block !important;
	width:22px;
	height:23px;
	overflow:hidden;
	background-position:center top;
	background-repeat:no-repeat;
	position:absolute;
	top:4px;
	text-indent: -100%;
	font-size:0;
	line-height:0;
	white-space: nowrap;
	cursor:pointer;
	z-index:996;
}
#carousel .es-nav-prev{background-image:url(../images/carousel-prev.png); right:31px;}
#carousel .es-nav-next{background-image:url(../images/carousel-next.png); right:0;}
	#carousel .es-nav-prev:hover, #carousel .es-nav-next:hover{background-position:0 -36px;}

/*-------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 995px) {
	#carousel li{width:172px !important;}
}